.container-advantages {
	margin-left: 50px;
    padding-bottom: 40px;
}
.our-advantages-list {
	margin: 0;
    padding: 0;
    color:#214e9b;
}
.our-advantages-list {
	line-height: 30px;

}
.item-black {
	color: #000;
}
.footer-form {
	background-color: #fff4e9;
    padding-bottom: 20px;
    padding-top: 40px;
}
.offer {
    line-height: 26px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.offer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
}