.footer {
	background-color:#708cbb;
    padding-top: 25px;
    color:#fff;
    padding-bottom: 15px;
}
.footer-flex {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-menu-link{
    color:#fff;
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-socil{
    list-style: none;
    margin: 0;
    padding: 0;
}
.socil-item{
	display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: #e6e6e6;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-top:7px;
}
.socil-item:hover{
    background-color: #fff;
}
.socil-link{
    color:#708cbb;
}
.footer-text{
    font-size: 12px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;

}
.footer-author{
    font-size: 14px;
    margin: 0;
    padding: 0;

    margin-top: 15px;
}