.header {
    min-height: 77px;
    vertical-align: middle;
    
}
.link-logo{
    margin-top: 10px;
    display: inline-block;
}
.banner{
  width: 100%;
  background-image: -moz-linear-gradient( 90deg, rgb(233,237,243) 0%, rgb(212,216,223) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,237,243) 0%, rgb(212,216,223) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,237,243) 0%, rgb(212,216,223) 100%);
  font-style: italic;

}
.container-banner {
	background-image: url(../image/banner-foto.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    max-width: 1040px;
    margin: 0 auto;
    background-size: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    max-width: 582px;
    
}
.banner-title{
    font-size: 24px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    padding-bottom: 20px;
    font-style: normal;
}
.banner-description {
	margin: 0;
    padding: 0;
    color: #5e5e5e;
    line-height: 23px;
    margin-bottom: 20px;    
}
.banner-description__bold{
    font-weight: bold;
}
.banner-bold-text{
    display: inline-block;
    line-height: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    }
.banner-textarea{
    padding: 20px;
    line-height: 20px;
    color: #8f8f8f;
    min-height: 100px;
    margin-bottom: 20px;
    width: 100%;
    font-style: italic;
    outline: none;
    border:1px solid #fff;
    border-radius: 5px;
    resize: none;
    }
